In [1]:
import os
import pathlib
import time

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
!ls ../input/

age_gender_bkts.csv	   save		   train_users_2.csv
countries.csv		   sessions.csv
sample_submission_NDF.csv  test_users.csv

In [62]:
def detect_nan_strings(df):
    for column in df.columns:
        print("\n\ncolumn: {}:".format(column))
        print("-" * 20)
        try:
            print("is NAN string:\n", any(df[column] == 'NAN'))
            print("is NAN string:\n", any(df[column] == 'nan'))
            print("is NAN string:\n", any(df[column] == 'NaN'))
        except TypeError:
            print("column {} not str type".format(column))

In [66]:
def uniques_count(df):
    return {column: df[column].count() for column in df.columns}

In [4]:
age_gender_df = pd.read_csv('../input/age_gender_bkts.csv')

In [5]:
countries_df = pd.read_csv('../input/countries.csv')

In [6]:
sessions_df = pd.read_csv('../input/sessions.csv')

In [7]:
train_users_2_df = pd.read_csv('../input/train_users_2.csv')

In [8]:
test_users_df = pd.read_csv('../input/test_users.csv')

In [9]:
age_gender_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 5 columns):
age_bucket                 420 non-null object
country_destination        420 non-null object
gender                     420 non-null object
population_in_thousands    420 non-null float64
year                       420 non-null float64
dtypes: float64(2), object(3)
memory usage: 16.5+ KB

In [10]:
age_gender_df.head()

  age_bucket country_destination gender  population_in_thousands    year
0       100+                  AU   male                      1.0  2015.0
1      95-99                  AU   male                      9.0  2015.0
2      90-94                  AU   male                     47.0  2015.0
3      85-89                  AU   male                    118.0  2015.0
4      80-84                  AU   male                    199.0  2015.0

In [11]:
age_gender_df.describe()

       population_in_thousands    year
count               420.000000   420.0
mean               1743.133333  2015.0
std                2509.843202     0.0
min                   0.000000  2015.0
25%                 396.500000  2015.0
50%                1090.500000  2015.0
75%                1968.000000  2015.0
max               11601.000000  2015.0

In [12]:
countries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
country_destination              10 non-null object
lat_destination                  10 non-null float64
lng_destination                  10 non-null float64
distance_km                      10 non-null float64
destination_km2                  10 non-null float64
destination_language             10 non-null object
language_levenshtein_distance    10 non-null float64
dtypes: float64(5), object(2)
memory usage: 640.0+ bytes

In [13]:
countries_df

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06
5,GB,54.633220,-3.432277,6883.6590,243610.0,eng,0.00
6,IT,41.873990,12.564167,8636.6310,301340.0,ita,89.40
7,NL,52.133057,5.295250,7524.3203,41543.0,nld,63.22
8,PT,39.553444,-7.839319,7355.2534,92090.0,por,95.45
9,US,36.966427,-95.844030,0.0000,9826675.0,eng,0.00

In [14]:
sessions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10567737 entries, 0 to 10567736
Data columns (total 6 columns):
user_id          object
action           object
action_type      object
action_detail    object
device_type      object
secs_elapsed     float64
dtypes: float64(1), object(5)
memory usage: 483.8+ MB

In [15]:
sessions_df.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [16]:
sessions_df.describe()

       secs_elapsed
count  1.043171e+07
mean   1.940581e+04
std    8.888424e+04
min    0.000000e+00
25%    2.290000e+02
50%    1.147000e+03
75%    8.444000e+03
max    1.799977e+06

In [17]:
train_users_2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
id                         213451 non-null object
date_account_created       213451 non-null object
timestamp_first_active     213451 non-null int64
date_first_booking         88908 non-null object
gender                     213451 non-null object
age                        125461 non-null float64
signup_method              213451 non-null object
signup_flow                213451 non-null int64
language                   213451 non-null object
affiliate_channel          213451 non-null object
affiliate_provider         213451 non-null object
first_affiliate_tracked    207386 non-null object
signup_app                 213451 non-null object
first_device_type          213451 non-null object
first_browser              213451 non-null object
country_destination        213451 non-null object
dtypes: float64(1), int64(2), object(13)
memory usage: 26.1+ MB

In [18]:
train_users_2_df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [19]:
train_users_2_df.describe()

       timestamp_first_active            age    signup_flow
count            2.134510e+05  125461.000000  213451.000000
mean             2.013085e+13      49.668335       3.267387
std              9.253717e+09     155.666612       7.637707
min              2.009032e+13       1.000000       0.000000
25%              2.012123e+13      28.000000       0.000000
50%              2.013091e+13      34.000000       0.000000
75%              2.014031e+13      43.000000       0.000000
max              2.014063e+13    2014.000000      25.000000

In [20]:
sessions_df_not_na = sessions_df.notna()

In [21]:
sessions_df.shape

(10567737, 6)

In [22]:
for column in sessions_df_not_na.columns:
    print("\n", column)
    not_na_len = len(sessions_df_not_na[sessions_df_not_na[column]])
    print("not_na:", not_na_len, " diff shape and not_na:", sessions_df.shape[0] - not_na_len)

 user_id
not_na: 10533241  diff shape and not_na: 34496

 action
not_na: 10488111  diff shape and not_na: 79626

 action_type
not_na: 9441533  diff shape and not_na: 1126204

 action_detail
not_na: 9441533  diff shape and not_na: 1126204

 device_type
not_na: 10567737  diff shape and not_na: 0

 secs_elapsed
not_na: 10431706  diff shape and not_na: 136031

In [23]:
sessions_df.shape

(10567737, 6)

In [24]:
train_users_2_df_not_na = train_users_2_df.notna()

In [25]:
for column in train_users_2_df_not_na.columns:
    print("\n", column)
    not_na_len = len(train_users_2_df_not_na[train_users_2_df_not_na[column]])
    print("not_na:", not_na_len, " diff shape and not_na:", train_users_2_df_not_na.shape[0] - not_na_len)

 id
not_na: 213451  diff shape and not_na: 0

 date_account_created
not_na: 213451  diff shape and not_na: 0

 timestamp_first_active
not_na: 213451  diff shape and not_na: 0

 date_first_booking
not_na: 88908  diff shape and not_na: 124543

 gender
not_na: 213451  diff shape and not_na: 0

 age
not_na: 125461  diff shape and not_na: 87990

 signup_method
not_na: 213451  diff shape and not_na: 0

 signup_flow
not_na: 213451  diff shape and not_na: 0

 language
not_na: 213451  diff shape and not_na: 0

 affiliate_channel
not_na: 213451  diff shape and not_na: 0

 affiliate_provider
not_na: 213451  diff shape and not_na: 0

 first_affiliate_tracked
not_na: 207386  diff shape and not_na: 6065

 signup_app
not_na: 213451  diff shape and not_na: 0

 first_device_type
not_na: 213451  diff shape and not_na: 0

 first_browser
not_na: 213451  diff shape and not_na: 0

 country_destination
not_na: 213451  diff shape and not_na: 0

In [26]:
for column in sessions_df.columns:
    print("\n", column)
    column_unique = sessions_df[column].unique()
    print("uniques", len(column_unique))
    print(column_unique)

 user_id
135484
['d1mm9tcy42' 'yo8nz8bqcq' '4grx6yxeby' ... 'fa6260ziny' '87k0fy4ugm'
 '9uqfg8txu3']

 action
360
['lookup' 'search_results' 'personalize' 'index' 'similar_listings'
 'ajax_refresh_subtotal' 'show' 'header_userpic' 'ask_question' nan
 'other_hosting_reviews_first' 'hosting_social_proof' 'decision_tree'
 'recent_reservations' 'faq_experiment_ids' 'multi' 'active' 'dashboard'
 'create' 'confirm_email' 'show_personalize' 'verify' 'pending'
 'requested' 'concierge' 'faq' 'clear_reservation' 'cancellation_policies'
 'track_page_view' 'update' 'my' 'campaigns' 'notifications' 'listings'
 'unavailabilities' 'ajax_lwlb_contact' 'ajax_check_dates' 'qt2'
 'request_new_confirm_email' 'ajax_photo_widget_form_iframe'
 'facebook_auto_login' 'identity' 'qt_reply_v2' 'travel_plans_current'
 'complete_status' 'populate_from_facebook' 'kba_update' 'kba' 'login'
 'authenticate' 'calendar_tab_inner2' 'other_hosting_reviews'
 'social_connections' 'relationship' '15' 'collections' '12'
 'jumio_redirect' 'jumio_token' 'login_modal' 'domains'
 'toggle_archived_thread' 'search' 'edit_verification' 'edit' 'ajax_ldp'
 'connect' 'account' 'delete' 'phone_number_widget' 'callback'
 'signup_modal' '10' 'open_graph_setting' 'reviews' 'signup_login'
 'payment_instruments' 'payment_methods' 'pay' 'unread' 'at_checkpoint'
 'push_notification_callback' 'faq_category' 'localization_settings'
 'update_notifications' 'manage_listing' 'set_user' 'references'
 'languages_multiselect' 'salute' 'rentals' 'currencies' 'new' 'position'
 'populate_help_dropdown' 'popular' 'popular_listing' 'listing'
 'available' 'glob' 'this_hosting_reviews' 'widget' 'complete'
 'profile_pic' 'signature' 'apply_reservation' 'ajax_statsd' 'travel'
 'tos_confirm' 'uptodate' 'ajax_payout_options_by_country'
 'payout_preferences' 'payout_update' 'ajax_payout_edit' 'pending_tickets'
 'issue' 'contact_new' 'itinerary' 'receipt'
 'update_hide_from_search_engines' 'settings' 'privacy' 'reviews_new'
 'add_guests' 'ajax_image_upload' 'qt_with' 'webcam_upload' 'friends'
 'ajax_google_translate_description' 'trust' 'guarantee' 'supported'
 'countries' 'status' 'upload' 'authorize' 'rate' 'remove_dashboard_alert'
 'ajax_get_results' 'recommend' 'change_currency'
 'transaction_history_paginated' 'transaction_history' 'set_password'
 'cancel' 'phone_verification_modal' 'submit_contact' 'detect_fb_session'
 'tell_a_friend' 'change' 'clickthrough' 'multi_message_attributes'
 'update_friends_display' 'my_listings' 'email_itinerary_colorbox'
 'mobile_landing_page' 'create_ach' 'country_options' '11' 'host_2013'
 'terms' 'multi_message' 'ajax_send_message' 'airbnb_picks' 'friends_new'
 'reputation' 'complete_redirect' 'toggle_starred_thread' 'email_share'
 'email_wishlist' 'destroy' 'add_note' 'overview' 'requirements'
 'update_reservation_requirements' 'image_order' 'review_page'
 'ajax_worth' 'place_worth' 'google_importer' 'change_availability'
 'hospitality' 'change_password' 'feed' 'host_summary'
 'ajax_price_and_availability' 'jumio' 'guest_booked_elsewhere' 'about_us'
 'founders' 'travel_plans_previous' 'why_host' 'hospitality_standards'
 'social' 'recommendations' 'update_cached' 'become_user' 'departments'
 'department' 'office_location' 'photography' 'preapproval'
 'maybe_information' 'toggle_availability' 'payoneer_account_redirect'
 'forgot_password' 'new_host' 'payoneer_signup_complete'
 'ajax_google_translate' 'onenight' 'approve' 'nyan' 'booking'
 'payout_delete' 'change_default_payout' 'envoy_bank_details_redirect'
 'respond' 'request_photography' 'zendesk_login_jwt' 'ajax_photo_widget'
 'message' 'southern-europe' 'life' 'press_release' 'media_resources'
 'press_news' 'referrer_status' 'create_multiple' 'load_more'
 'create_paypal' 'locale_from_host' 'terms_and_conditions'
 'invalid_action' 'photography_update' 'badge' 'apply' 'redirect'
 'pricing' 'apply_code' 'slideshow' 'locations'
 'ajax_google_translate_reviews' 'new_session' 'has_profile_pic' 'sublets'
 'wishlists' 'reservation' 'localized' 'home_safety_landing' 'click'
 'how_it_works' 'ajax_get_referrals_amt' 'phone_verification' 'satisfy'
 'city_count' 'recommendation_page' 'press_content'
 'guest_billing_receipt' 'ajax_payout_split_edit' 'print_confirmation'
 'envoy_form' 'ajax_special_offer_dates_available'
 'ajax_referral_banner_experiment_type' 'patch' 'questions'
 'home_safety_terms' 'track_activity' 'check' 'sldf'
 'recommended_listings' 'mobile_oauth_callback' 'show_code'
 'signed_out_modal' 'plaxo_cb' 'views' 'friend_listing'
 'ajax_referral_banner_type' 'deactivate' 'sync' 'social-media'
 'united-states' 'email_by_key' 'disaster_action' 'views_campaign'
 'update_message' 'spoken_languages' 'use_mobile_site' 'deauthorize'
 'special_offer' 'top_destinations' 'create_airbnb' 'handle_vanity_url'
 'impressions' 'message_to_host_focus' 'cancellation_policy_click'
 'message_to_host_change' 'agree_terms_check' 'read_policy_click'
 'phone_verification_success'
 'phone_verification_number_sucessfully_submitted'
 'phone_verification_number_submitted_for_sms'
 'phone_verification_phone_number_removed' 'endpoint_error'
 'p4_refund_policy_terms' 'apply_coupon_error_type' 'apply_coupon_error'
 'apply_coupon_click' 'coupon_field_focus' 'coupon_code_click'
 'agree_terms_uncheck' 'p4_terms'
 'phone_verification_call_taking_too_long'
 'phone_verification_number_submitted_for_call' 'phone_verification_error'
 'apply_coupon_click_success' 'set_default' 'update_country_of_residence'
 'open_hard_fallback_modal' 'tos_2014' 'views_campaign_rules'
 'weibo_signup_referral_finish' 'signup_weibo_referral'
 'similar_listings_v2' 'confirmation' 'signup_weibo'
 'acculynk_load_pin_pad' 'acculynk_bin_check_success'
 'acculynk_session_obtained' 'acculynk_pin_pad_inactive' 'reactivate'
 'airbrb' 'desks' 'sandy' 'unsubscribe' 'host_cancel'
 'acculynk_bin_check_failed' 'acculynk_pin_pad_error'
 'custom_recommended_destinations' 'this_hosting_reviews_3000'
 'reset_calendar' 'events' 'business_travel' 'add_guest_colorbox'
 'hard_fallback_submit' 'add_business_address_colorbox' 'my_reservations'
 'report' 'book' 'revert_to_admin' 'acculynk_pin_pad_success'
 'south-america' 'braintree_client_token' 'view' 'stpcv'
 'set_minimum_payout_amount' 'support_phone_numbers'
 'refund_guest_cancellation' 'accept_decline' 'deactivated'
 'rest-of-world']

 action_type
11
[nan 'click' 'data' 'view' 'submit' 'message_post' '-unknown-'
 'booking_request' 'partner_callback' 'booking_response' 'modify']

 action_detail
156
[nan 'view_search_results' 'wishlist_content_update' 'similar_listings'
 'change_trip_characteristics' 'p3' 'header_userpic' 'contact_host'
 'message_post' '-unknown-' 'dashboard' 'create_user' 'confirm_email_link'
 'user_profile_content_update' 'user_profile' 'pending' 'p5'
 'create_phone_numbers' 'cancellation_policies' 'user_wishlists'
 'change_contact_host_dates' 'wishlist' 'message_thread'
 'request_new_confirm_email' 'send_message' 'your_trips' 'login_page'
 'login' 'login_modal' 'toggle_archived_thread' 'p1'
 'profile_verifications' 'edit_profile' 'oauth_login'
 'post_checkout_action' 'account_notification_settings'
 'update_user_profile' 'oauth_response' 'signup_modal' 'signup_login_page'
 'at_checkpoint' 'manage_listing' 'create_listing' 'your_listings'
 'profile_references' 'list_your_space' 'popular_wishlists'
 'listing_reviews_page' 'apply_coupon' 'user_tax_forms'
 'account_payout_preferences' 'guest_itinerary' 'guest_receipt'
 'account_privacy_settings' 'lookup_message_thread' 'friends_wishlists'
 'host_guarantee' 'delete_phone_numbers' 'account_transaction_history'
 'set_password' 'guest_cancellation' 'change_or_alter' 'your_reservations'
 'terms_and_privacy' 'airbnb_picks_wishlists' 'toggle_starred_thread'
 'email_wishlist' 'email_wishlist_button' 'wishlist_note'
 'calculate_worth' 'place_worth' 'change_password' 'alteration_field'
 'previous_trips' 'update_listing' 'update_listing_description'
 'user_reviews' 'update_user' 'notifications' 'user_social_connections'
 'unavailable_dates' 'reservations' 'listing_reviews' 'user_listings'
 'signup' 'message_inbox' 'trip_availability' 'payment_instruments'
 'admin_templates' 'host_home' 'translations' 'forgot_password' 'homepage'
 'remove_dashboard_alert' 'user_friend_recommendations' 'confirm_email'
 'host_respond' 'booking' 'respond_to_alteration_request'
 'alteration_request' 'create_alteration_request' 'delete_listing'
 'set_password_page' 'delete_listing_description'
 'translate_listing_reviews' 'book_it' 'instant_book' 'request_to_book'
 'complete_booking' 'change_availability' 'special_offer_field'
 'listing_recommendations' 'view_listing' 'listing_descriptions'
 'user_languages' 'p4' 'message_to_host_focus' 'cancellation_policy_click'
 'message_to_host_change' 'read_policy_click' 'phone_verification_success'
 'p4_refund_policy_terms' 'apply_coupon_error' 'apply_coupon_click'
 'coupon_field_focus' 'coupon_code_click' 'p4_terms'
 'apply_coupon_click_success' 'tos_2014' 'view_reservations'
 'view_locations' 'modify_users' 'view_security_checks' 'phone_numbers'
 'profile_reviews' 'modify_reservations' 'view_resolutions'
 'account_payment_methods' 'create_payment_instrument'
 'set_default_payment_instrument' 'delete_payment_instrument' 'photos'
 'click_reviews' 'move_map' 'share' 'cancellation_policy'
 'click_about_host' 'click_amenities' 'host_refund_guest'
 'host_respond_page' 'view_user_real_names' 'view_identity_verifications'
 'view_ghosting_reasons' 'view_ghostings' 'host_standard_suspension'
 'deactivate_user_account']

 device_type

14
['Windows Desktop' '-unknown-' 'Mac Desktop' 'Android Phone' 'iPhone'
 'iPad Tablet' 'Android App Unknown Phone/Tablet' 'Linux Desktop' 'Tablet'
 'Chromebook' 'Blackberry' 'iPodtouch' 'Windows Phone' 'Opera Phone']

 secs_elapsed
337662
[3.190000e+02 6.775300e+04 3.010000e+02 ... 2.870570e+05 1.551558e+06
 1.752436e+06]

In [27]:
for column in train_users_2_df.columns:
    print("\n", column)
    column_unique = train_users_2_df[column].unique()
    print("uniques", len(column_unique))
    print(column_unique)

 id
213451
['gxn3p5htnn' '820tgsjxq7' '4ft3gnwmtx' ... '6o3arsjbb4' 'jh95kwisub'
 'nw9fwlyb5f']

 date_account_created
1634
['2010-06-28' '2011-05-25' '2010-09-28' ... '2014-06-27' '2014-06-29'
 '2014-06-30']

 timestamp_first_active
213451
[20090319043255 20090523174809 20090609231247 ... 20140630235754
 20140630235822 20140630235824]

 date_first_booking
1977
[nan '2010-08-02' '2012-09-08' ... '2015-06-25' '2015-06-29' '2015-06-28']

 gender
4
['-unknown-' 'MALE' 'FEMALE' 'OTHER']

 age
128
[      nan 3.800e+01 5.600e+01 4.200e+01 4.100e+01 4.600e+01 4.700e+01
 5.000e+01 3.600e+01 3.700e+01 3.300e+01 3.100e+01 2.900e+01 3.000e+01
 4.000e+01 2.600e+01 3.200e+01 3.500e+01 5.900e+01 4.900e+01 4.400e+01
 3.400e+01 2.800e+01 1.900e+01 5.300e+01 5.200e+01 3.900e+01 5.700e+01
 2.500e+01 5.400e+01 6.900e+01 6.300e+01 4.300e+01 5.500e+01 6.500e+01
 5.800e+01 6.100e+01 1.800e+01 5.000e+00 2.700e+01 4.500e+01 6.000e+01
 4.800e+01 5.100e+01 6.400e+01 7.200e+01 7.000e+01 6.700e+01 7.300e+01
 2.014e+03 1.040e+02 6.600e+01 1.050e+02 6.800e+01 9.500e+01 2.400e+01
 9.400e+01 7.500e+01 7.900e+01 6.200e+01 2.013e+03 1.600e+01 4.000e+00
 2.300e+01 1.010e+02 9.800e+01 7.600e+01 7.400e+01 8.700e+01 9.200e+01
 1.150e+02 7.100e+01 8.400e+01 1.070e+02 7.800e+01 9.900e+01 1.100e+02
 1.020e+02 8.200e+01 7.700e+01 2.200e+01 8.900e+01 2.100e+01 1.500e+01
 2.000e+01 1.030e+02 2.000e+00 1.700e+01 8.600e+01 9.700e+01 8.100e+01
 9.000e+01 8.800e+01 8.000e+01 1.000e+02 9.100e+01 1.060e+02 8.300e+01
 8.500e+01 1.080e+02 1.130e+02 1.090e+02 9.300e+01 9.600e+01 1.949e+03
 1.110e+02 1.931e+03 1.932e+03 1.120e+02 1.928e+03 1.000e+00 1.936e+03
 1.933e+03 1.935e+03 1.925e+03 1.952e+03 1.500e+02 1.927e+03 1.320e+02
 1.953e+03 1.942e+03 1.995e+03 2.008e+03 1.924e+03 1.929e+03 1.947e+03
 1.938e+03 1.926e+03]

 signup_method
3
['facebook' 'basic' 'google']

 signup_flow
17
[ 0  3  2  1 24  8  6  5 10 25 12  4 16 15 20 21 23]

 language
25
['en' 'fr' 'de' 'es' 'it' 'pt' 'zh' 'ko' 'ja' 'ru' 'pl' 'el' 'sv' 'nl'
 'hu' 'da' 'id' 'fi' 'no' 'tr' 'th' 'cs' 'hr' 'ca' 'is']

 affiliate_channel
8
['direct' 'seo' 'other' 'sem-non-brand' 'content' 'sem-brand'
 'remarketing' 'api']

 affiliate_provider
18
['direct' 'google' 'other' 'craigslist' 'facebook' 'vast' 'bing' 'meetup'
 'facebook-open-graph' 'email-marketing' 'yahoo' 'padmapper' 'gsp' 'wayn'
 'naver' 'baidu' 'yandex' 'daum']

 first_affiliate_tracked
8
['untracked' 'omg' nan 'linked' 'tracked-other' 'product' 'marketing'
 'local ops']

 signup_app
4
['Web' 'Moweb' 'iOS' 'Android']

 first_device_type
9
['Mac Desktop' 'Windows Desktop' 'iPhone' 'Other/Unknown'
 'Desktop (Other)' 'Android Tablet' 'iPad' 'Android Phone'
 'SmartPhone (Other)']

 first_browser
52
['Chrome' 'IE' 'Firefox' 'Safari' '-unknown-' 'Mobile Safari'
 'Chrome Mobile' 'RockMelt' 'Chromium' 'Android Browser' 'AOL Explorer'
 'Palm Pre web browser' 'Mobile Firefox' 'Opera' 'TenFourFox' 'IE Mobile'
 'Apple Mail' 'Silk' 'Camino' 'Arora' 'BlackBerry Browser' 'SeaMonkey'
 'Iron' 'Sogou Explorer' 'IceWeasel' 'Opera Mini' 'SiteKiosk' 'Maxthon'
 'Kindle Browser' 'CoolNovo' 'Conkeror' 'wOSBrowser' 'Google Earth'
 'Crazy Browser' 'Mozilla' 'OmniWeb' 'PS Vita browser' 'NetNewsWire'
 'CometBird' 'Comodo Dragon' 'Flock' 'Pale Moon' 'Avant Browser'
 'Opera Mobile' 'Yandex.Browser' 'TheWorld Browser' 'SlimBrowser' 'Epic'
 'Stainless' 'Googlebot' 'Outlook 2007' 'IceDragon']

 country_destination
12
['NDF' 'US' 'other' 'FR' 'CA' 'GB' 'ES' 'IT' 'PT' 'NL' 'DE' 'AU']

plt.figure(figsize=(16,6))
features = sessions_df.columns
plt.title("Distribution of mean values per row in the train")
sns.distplot(sessions_df[features].mode(axis=1),color="green", kde=True,bins=120, label='sessions')
#sns.distplot(test_df[features].mean(axis=1),color="blue", kde=True,bins=120, label='test')
plt.legend()
plt.show()

features = sessions_df.columns
plt.figure(figsize=(16,6))
plt.title("Distribution of mean values per column in the sessions set")
sns.distplot(sessions_df[features].mean(axis=0),color="magenta",kde=True,bins=120, label='train')
#sns.distplot(test_df[features].mean(axis=0),color="darkblue", kde=True,bins=120, label='test')
plt.legend()
plt.show()

In [29]:
sessions_df.shape

(10567737, 6)

In [28]:
sessions_df.isna().sum()

user_id            34496
action             79626
action_type      1126204
action_detail    1126204
device_type            0
secs_elapsed      136031
dtype: int64

In [31]:
sessions_df.isna().sum() / len(sessions_df) * 100

user_id           0.326428
action            0.753482
action_type      10.657003
action_detail    10.657003
device_type       0.000000
secs_elapsed      1.287229
dtype: float64

In [39]:
for column in sessions_df.columns:
    print("\n\ncolumn: {}:".format(column))
    print("-" * 20)
    print("value_counts:\n", sessions_df[column].value_counts())

column: user_id:
--------------------
value_counts:
 mxqbh3ykxl    2722
0hjoc5q8nf    2644
mjbl6rrj52    2476
l5lgm3w5pc    2424
wg9413iaux    2362
ht8alhs4lt    2335
wyv1imf8qw    2323
monrpvx2md    2264
9z4gim1s4l    2264
h0cjxc177k    2246
a0uhiojrra    2137
vcmr2jh5ix    2085
1m6xnhstmb    2019
p1183hxzc4    1938
e8h4qghxlg    1923
gey51ednme    1919
5vpuk5mssg    1876
j2cvctvqve    1861
yu5bdalz2b    1811
ejpe95pcyo    1797
r541x78s24    1792
qkbkunyzq7    1780
n4s6g3grzf    1779
bfiueza7rt    1753
b1io359wpg    1752
8ikl7vnfa3    1732
e81qfos71y    1701
s5ez13snz0    1685
93dulcecw0    1614
r0rgjqbsvp    1612
              ...
jxdfl1ivgr       1
e3vw8ung65       1
d0kmmhg1s7       1
mr2chdr4vp       1
d8ccqhesf6       1
ul7iepe9l4       1
hnp5nfnfn3       1
l1g7as8d62       1
ou812mptsh       1
sb5ji18bpl       1
8wp91p0kk0       1
qhjmr33xzy       1
6vei32cuik       1
l3khskxias       1
7nic82lz8s       1
8g392uznwi       1
imt2biwj08       1
0xep7562jh       1
7pb6pzye9v       1
prqcgbin8u       1
9cpxjune3g       1
qkjoryoh5o       1
ge2iwov8fq       1
7ub8hekwbp       1
icy8upoged       1
08r4ref5hs       1
1qfbni3ffz       1
uo83ibddu6       1
ae29xdac9e       1
azyy4k9h9g       1
Name: user_id, Length: 135483, dtype: int64


column: action:
--------------------
value_counts:
 show                           2768278
index                           843699
search_results                  725226
personalize                     706824
search                          536057
ajax_refresh_subtotal           487744
update                          365130
similar_listings                364624
social_connections              339000
reviews                         320591
active                          188036
similar_listings_v2             168788
lookup                          162041
create                          155887
dashboard                       152952
header_userpic                  141830
collections                     124417
edit                            109083
campaigns                       105028
track_page_view                  81117
unavailabilities                 78317
qt2                              64651
notifications                    59392
confirm_email                    58726
requested                        57034
identity                         53631
ajax_check_dates                 52517
show_personalize                 50434
ask_question                     44063
listings                         43656
                                ...
views_campaign                       2
reset_calendar                       2
tos_2014                             2
confirmation                         2
accept_decline                       2
envoy_bank_details_redirect          2
stpcv                                2
sandy                                2
views_campaign_rules                 2
special_offer                        2
unsubscribe                          2
report                               2
preapproval                          2
recommendation_page                  2
south-america                        2
deactivated                          1
plaxo_cb                             1
nyan                                 1
revert_to_admin                      1
acculynk_bin_check_failed            1
update_message                       1
host_cancel                          1
wishlists                            1
events                               1
sldf                                 1
desks                                1
set_minimum_payout_amount            1
deactivate                           1
deauthorize                          1
reactivate                           1
Name: action, Length: 359, dtype: int64


column: action_type:
--------------------
value_counts:
 view                3560902
data                2103770
click               1996183
-unknown-           1031170
submit               623357
message_post          87103
partner_callback      19132
booking_request       18773
modify                 1139
booking_response          4
Name: action_type, dtype: int64


column: action_detail:
--------------------
value_counts:
 view_search_results               1776885
p3                                1376550
-unknown-                         1031141
wishlist_content_update            706824
user_profile                       656839
change_trip_characteristics        487744
similar_listings                   364624
user_social_connections            336799
update_listing                     269779
listing_reviews                    269021
dashboard                          152952
user_wishlists                     152672
header_userpic                     141830
message_thread                     132395
edit_profile                       108686
message_post                        87103
contact_host                        81041
unavailable_dates                   77795
confirm_email_link                  58422
create_user                         54878
change_contact_host_dates           52517
user_profile_content_update         50434
user_reviews                        49665
p5                                  48167
login                               38378
your_trips                          38195
p1                                  37976
notifications                       37355
profile_verifications               33434
reservations                        32481
                                   ...
share                                 160
view_security_checks                  135
remove_dashboard_alert                114
delete_listing                        112
place_worth                           108
create_payment_instrument              86
complete_booking                       75
view_identity_verifications            57
calculate_worth                        56
change_availability                    42
view_resolutions                       42
alteration_request                     42
view_user_real_names                   38
phone_numbers                          27
create_alteration_request              27
set_default_payment_instrument         19
view_ghosting_reasons                  19
view_ghostings                         19
homepage                               15
respond_to_alteration_request          11
deactivate_user_account                 9
delete_payment_instrument               6
delete_listing_description              6
host_respond                            4
booking                                 4
special_offer_field                     3
tos_2014                                2
host_respond_page                       2
host_refund_guest                       2
host_standard_suspension                1
Name: action_detail, Length: 155, dtype: int64


column: device_type:
--------------------
value_counts:
 Mac Desktop                         3594286
Windows Desktop                     2658539
iPhone                              2105031
Android Phone                        839637
iPad Tablet                          683414
Android App Unknown Phone/Tablet     273652
-unknown-                            211279
Tablet                               139886
Linux Desktop                         28373
Chromebook                            22348
iPodtouch                              8198
Windows Phone                          2047
Blackberry                              979
Opera Phone                              68
Name: device_type, dtype: int64


column: secs_elapsed:
--------------------
value_counts:
 0.0         104624
1.0          27378
2.0          23004
3.0          20375
5.0          19589
4.0          19485
7.0          19067
6.0          19022
8.0          18917
9.0          18670
10.0         18547
11.0         18485
33.0         18438
37.0         18317
12.0         18311
14.0         18260
23.0         18255
30.0         18186
15.0         18173
36.0         18111
41.0         18086
29.0         18072
20.0         18071
38.0         18031
13.0         18015
27.0         18008
18.0         17991
28.0         17986
34.0         17984
40.0         17979
             ...
305845.0         1
305856.0         1
305863.0         1
305872.0         1
305830.0         1
305875.0         1
305878.0         1
305879.0         1
305880.0         1
305884.0         1
305887.0         1
305833.0         1
305829.0         1
305781.0         1
305801.0         1
305782.0         1
305784.0         1
305786.0         1
305787.0         1
305789.0         1
305791.0         1
305804.0         1
305827.0         1
305810.0         1
305811.0         1
305819.0         1
305821.0         1
305823.0         1
305825.0         1
181072.0         1
Name: secs_elapsed, Length: 337661, dtype: int64

In [40]:
train_users_2_df.shape

(213451, 16)

In [41]:
train_users_2_df.isna().sum()

id                              0
date_account_created            0
timestamp_first_active          0
date_first_booking         124543
gender                          0
age                         87990
signup_method                   0
signup_flow                     0
language                        0
affiliate_channel               0
affiliate_provider              0
first_affiliate_tracked      6065
signup_app                      0
first_device_type               0
first_browser                   0
country_destination             0
dtype: int64

In [42]:
train_users_2_df.isna().sum() / len(train_users_2_df) * 100

id                          0.000000
date_account_created        0.000000
timestamp_first_active      0.000000
date_first_booking         58.347349
gender                      0.000000
age                        41.222576
signup_method               0.000000
signup_flow                 0.000000
language                    0.000000
affiliate_channel           0.000000
affiliate_provider          0.000000
first_affiliate_tracked     2.841402
signup_app                  0.000000
first_device_type           0.000000
first_browser               0.000000
country_destination         0.000000
dtype: float64

In [43]:
for column in train_users_2_df.columns:
    print("\n\ncolumn: {}:".format(column))
    print("-" * 20)
    print("value_counts:\n", train_users_2_df[column].value_counts())

column: id:
--------------------
value_counts:
 84v31mmg92    1
00allnceb8    1
oeqyzp9fml    1
6pgtq5qm3a    1
hqenwsqojy    1
prqnudhgdx    1
ujbug5f7v6    1
fgthxap8kb    1
v9nborqc1s    1
8nxk7ratyc    1
ync50l8x3i    1
j1j8dy8out    1
63kvn42tw7    1
8roixk9uo5    1
ote13e7teg    1
9843v3nvp6    1
rmh7xzvfl7    1
t8i1f4k63a    1
cwfnbfvr6f    1
1xle71ems8    1
h1av7x305n    1
ae7xxaf5mf    1
fzgeceo0i3    1
45narjgdw1    1
h6gmjr53vh    1
5te72hp164    1
ahv7137now    1
s2mbwokl06    1
yseei1191j    1
4h96mvj6ts    1
             ..
0yguc7k3um    1
3c4dja5tlz    1
2pqg1kot4e    1
eaao7fkr3i    1
ub3wjs33ts    1
6ib45u4wl9    1
fb06fvswc6    1
xx0tqida65    1
afgqftmmwb    1
grn1bxkzgs    1
qoeseq5eeq    1
7lp2beb628    1
vs4xb89rep    1
cjv70yb1l5    1
28j4etyzsh    1
lc87e7g2rq    1
jg8byy20da    1
ojbt7varol    1
292l7q8ako    1
4hq0083zi1    1
rzlqc3wq6o    1
rht3khyr7k    1
kx3gb5qldt    1
e4geou2ml2    1
07watt77xk    1
appkm91d2b    1
cmlud0s9xr    1
2nswkg2py1    1
485ofyfe9r    1
1ogre3n97p    1
Name: id, Length: 213451, dtype: int64


column: date_account_created:
--------------------
value_counts:
 2014-05-13    674
2014-06-24    670
2014-06-25    636
2014-05-20    632
2014-05-14    622
2014-06-03    602
2014-05-21    602
2014-06-16    598
2014-06-11    593
2014-05-28    590
2014-06-30    590
2014-04-23    587
2014-06-26    587
2014-06-23    586
2014-06-09    577
2014-06-19    564
2014-06-18    564
2014-06-04    562
2014-06-27    557
2014-05-19    556
2014-06-10    555
2014-06-05    550
2014-06-17    548
2014-06-20    544
2014-05-22    543
2014-06-02    534
2014-05-16    534
2014-05-15    530
2014-06-12    524
2014-04-29    519
             ...
2010-02-18      2
2010-03-28      2
2010-01-30      2
2010-01-16      2
2010-02-03      2
2010-03-04      2
2010-02-08      2
2010-04-08      2
2010-06-12      2
2010-01-21      2
2010-02-04      2
2010-02-17      2
2010-05-29      2
2010-01-13      2
2010-02-07      2
2010-06-26      2
2010-04-24      1
2010-04-01      1
2010-01-03      1
2010-01-08      1
2010-02-14      1
2010-01-31      1
2010-01-19      1
2010-01-02      1
2010-06-18      1
2010-04-11      1
2010-01-28      1
2010-01-23      1
2010-01-01      1
2010-03-09      1
Name: date_account_created, Length: 1634, dtype: int64


column: timestamp_first_active:
--------------------
value_counts:
 20131002011351    1
20130622024754    1
20111120235256    1
20131118144252    1
20131106211656    1
20140322022139    1
20131206204150    1
20121026163433    1
20140604224804    1
20130913182443    1
20130805175021    1
20130716031109    1
20130630050531    1
20140225061611    1
20140422200040    1
20140204104340    1
20130423003804    1
20140122072510    1
20130718171807    1
20130520211735    1
20120311052944    1
20131023211901    1
20140325053639    1
20140122073445    1
20140627211002    1
20140401165047    1
20130820183044    1
20140128004810    1
20130923041501    1
20140109085503    1
                 ..
20120507220715    1
20120922205919    1
20120908070613    1
20100204005644    1
20131119221012    1
20130818174424    1
20130416165229    1
20110307191104    1
20120827025734    1
20130617010552    1
20130725011833    1
20131107223930    1
20131009180027    1
20140429050237    1
20140625142137    1
20140512022937    1
20120305052951    1
20130513164654    1
20140324133150    1
20131118190959    1
20130416191840    1
20120703072932    1
20130305032549    1
20140529164649    1
20140116005143    1
20130719183131    1
20131022211356    1
20131022215454    1
20120508143902    1
20131104235813    1
Name: timestamp_first_active, Length: 213451, dtype: int64


column: date_first_booking:
--------------------
value_counts:
 2014-05-22    248
2014-06-11    231
2014-06-24    226
2014-05-21    225
2014-06-10    223
2014-06-19    217
2014-06-25    216
2014-05-14    213
2014-05-28    213
2014-06-17    211
2014-05-19    210
2014-04-29    210
2014-01-17    209
2014-05-20    207
2014-06-04    206
2014-06-30    205
2014-06-23    205
2014-06-13    205
2014-06-05    201
2014-06-03    200
2014-06-18    200
2014-05-08    199
2014-06-26    196
2014-05-15    195
2014-05-05    193
2014-06-20    193
2014-05-02    193
2014-06-27    191
2014-04-11    190
2014-06-16    189
             ...
2010-04-25      1
2010-05-30      1
2010-07-03      1
2010-05-25      1
2010-03-11      1
2010-02-07      1
2010-07-13      1
2010-01-31      1
2015-06-18      1
2010-01-19      1
2010-04-26      1
2010-01-02      1
2010-02-09      1
2010-02-12      1
2010-03-23      1
2015-06-14      1
2015-06-12      1
2010-02-06      1
2010-09-25      1
2010-12-26      1
2015-06-23      1
2010-01-10      1
2015-06-25      1
2010-07-10      1
2010-01-06      1
2010-04-11      1
2015-06-29      1
2010-05-09      1
2010-02-15      1
2010-03-06      1
Name: date_first_booking, Length: 1976, dtype: int64


column: gender:
--------------------
value_counts:
 -unknown-    95688
FEMALE       63041
MALE         54440
OTHER          282
Name: gender, dtype: int64


column: age:
--------------------
value_counts:
 30.0      6124
31.0      6016
29.0      5963
28.0      5939
32.0      5855
27.0      5738
33.0      5527
26.0      5044
34.0      5029
35.0      4860
25.0      4459
36.0      4083
37.0      3694
38.0      3384
24.0      3220
39.0      2998
40.0      2766
41.0      2538
23.0      2462
42.0      2243
45.0      2149
44.0      2137
43.0      2056
46.0      1875
22.0      1702
47.0      1646
48.0      1469
50.0      1387
51.0      1337
49.0      1331
          ...
91.0        12
97.0        10
15.0         8
2.0          7
113.0        4
1931.0       3
4.0          3
1949.0       3
1932.0       3
1924.0       2
1936.0       2
1947.0       2
1929.0       2
1928.0       2
1.0          2
111.0        2
1935.0       1
1926.0       1
1995.0       1
1927.0       1
2008.0       1
1953.0       1
132.0        1
150.0        1
1925.0       1
1933.0       1
1942.0       1
112.0        1
1938.0       1
1952.0       1
Name: age, Length: 127, dtype: int64


column: signup_method:
--------------------
value_counts:
 basic       152897
facebook     60008
google         546
Name: signup_method, dtype: int64


column: signup_flow:
--------------------
value_counts:
 0     164739
25     14659
12      9329
3       8822
2       6881
24      4328
23      2835
1       1047
6        301
8        240
21       196
5         36
20        14
16        11
15        10
10         2
4          1
Name: signup_flow, dtype: int64


column: language:
--------------------
value_counts:
 en    206314
zh      1632
fr      1172
es       915
ko       747
de       732
it       514
ru       389
pt       240
ja       225
sv       122
nl        97
tr        64
da        58
pl        54
cs        32
no        30
th        24
el        24
id        22
hu        18
fi        14
ca         5
is         5
hr         2
Name: language, dtype: int64


column: affiliate_channel:
--------------------
value_counts:
 direct           137727
sem-brand         26045
sem-non-brand     18844
other              8961
seo                8663
api                8167
content            3948
remarketing        1096
Name: affiliate_channel, dtype: int64


column: affiliate_provider:
--------------------
value_counts:
 direct                 137426
google                  51693
other                   12549
craigslist               3471
bing                     2328
facebook                 2273
vast                      829
padmapper                 768
facebook-open-graph       545
yahoo                     496
gsp                       453
meetup                    347
email-marketing           166
naver                      52
baidu                      29
yandex                     17
wayn                        8
daum                        1
Name: affiliate_provider, dtype: int64


column: first_affiliate_tracked:
--------------------
value_counts:
 untracked        109232
linked            46287
omg               43982
tracked-other      6156
product            1556
marketing           139
local ops            34
Name: first_affiliate_tracked, dtype: int64


column: signup_app:
--------------------
value_counts:
 Web        182717
iOS         19019
Moweb        6261
Android      5454
Name: signup_app, dtype: int64


column: first_device_type:
--------------------
value_counts:
 Mac Desktop           89600
Windows Desktop       72716
iPhone                20759
iPad                  14339
Other/Unknown         10667
Android Phone          2803
Android Tablet         1292
Desktop (Other)        1199
SmartPhone (Other)       76
Name: first_device_type, dtype: int64


column: first_browser:
--------------------
value_counts:
 Chrome                  63845
Safari                  45169
Firefox                 33655
-unknown-               27266
IE                      21068
Mobile Safari           19274
Chrome Mobile            1270
Android Browser           851
AOL Explorer              245
Opera                     188
Silk                      124
Chromium                   73
BlackBerry Browser         53
Maxthon                    46
IE Mobile                  36
Apple Mail                 36
Sogou Explorer             33
Mobile Firefox             30
RockMelt                   24
SiteKiosk                  24
Iron                       17
IceWeasel                  13
Pale Moon                  12
CometBird                  11
Yandex.Browser             11
SeaMonkey                  11
Camino                      9
TenFourFox                  8
CoolNovo                    6
wOSBrowser                  6
Opera Mini                  4
Avant Browser               4
Mozilla                     3
TheWorld Browser            2
Opera Mobile                2
Flock                       2
SlimBrowser                 2
Comodo Dragon               2
Crazy Browser               2
OmniWeb                     2
NetNewsWire                 1
Arora                       1
Palm Pre web browser        1
Stainless                   1
Google Earth                1
IceDragon                   1
Googlebot                   1
PS Vita browser             1
Epic                        1
Conkeror                    1
Outlook 2007                1
Kindle Browser              1
Name: first_browser, dtype: int64


column: country_destination:
--------------------
value_counts:
 NDF      124543
US        62376
other     10094
FR         5023
IT         2835
GB         2324
ES         2249
CA         1428
DE         1061
NL          762
AU          539
PT          217
Name: country_destination, dtype: int64

In [45]:
for column in sessions_df.columns:
    print("\n\ncolumn: {}:".format(column))
    print("-" * 20)
    try:
        print("is nan string:\n", any(sessions_df[column] == 'nan'))
    except TypeError:
        print("column {} not str type".format(column))

column: user_id:
--------------------
is nan string:
 False


column: action:
--------------------
is nan string:
 False


column: action_type:
--------------------
is nan string:
 False


column: action_detail:
--------------------
is nan string:
 False


column: device_type:
--------------------
is nan string:
 False


column: secs_elapsed:
--------------------
column secs_elapsed not str type

In [46]:
for column in sessions_df.columns:
    print("\n\ncolumn: {}:".format(column))
    print("-" * 20)
    try:
        print("is NAN string:\n", any(sessions_df[column] == 'NAN'))
    except TypeError:
        print("column {} not str type".format(column))

column: user_id:
--------------------
is NAN string:
 False


column: action:
--------------------
is NAN string:
 False


column: action_type:
--------------------
is NAN string:
 False


column: action_detail:
--------------------
is NAN string:
 False


column: device_type:
--------------------
is NAN string:
 False


column: secs_elapsed:
--------------------
column secs_elapsed not str type

In [48]:
for column in sessions_df.columns:
    print("\n\ncolumn: {}:".format(column))
    print("-" * 20)
    try:
        print("is NaN string:\n", any(sessions_df[column] == 'NaN'))
    except TypeError:
        print("column {} not str type".format(column))

column: user_id:
--------------------
is NaN string:
 False


column: action:
--------------------
is NaN string:
 False


column: action_type:
--------------------
is NaN string:
 False


column: action_detail:
--------------------
is NaN string:
 False


column: device_type:
--------------------
is NaN string:
 False


column: secs_elapsed:
--------------------
column secs_elapsed not str type

In [50]:
sessions_df_unique_user_ids = set(sessions_df['user_id'].unique())

In [51]:
train_users_2_df_unique_user_ids = set(train_users_2_df['id'].unique())

In [52]:
len(sessions_df_unique_user_ids)

135484

In [53]:
len(train_users_2_df_unique_user_ids)

213451

In [54]:
len(sessions_df_unique_user_ids.union(train_users_2_df_unique_user_ids))

275120

In [55]:
len(sessions_df_unique_user_ids.difference(train_users_2_df_unique_user_ids))

61669

In [56]:
len(train_users_2_df_unique_user_ids.difference(sessions_df_unique_user_ids))

139636

In [57]:
len(train_users_2_df_unique_user_ids.intersection(sessions_df_unique_user_ids))

73815

Preliminary results:
1. We can see that some columns in sessions data and users data have signficant numbers of NaN values.
sessions:
user_id           0.326428% (which is curious in itself)
action            0.753482%
action_type      10.657003%
action_detail    10.657003%
device_type       0.000000%
secs_elapsed      1.287229%

users:
id                          0.000000%
date_account_created        0.000000%
timestamp_first_active      0.000000%
date_first_booking         58.347349%
gender                      0.000000%
age                        41.222576%
signup_method               0.000000%
signup_flow                 0.000000%
language                    0.000000%
affiliate_channel           0.000000%
affiliate_provider          0.000000%
first_affiliate_tracked     2.841402%
signup_app                  0.000000%
first_device_type           0.000000%
first_browser               0.000000%
country_destination         0.000000%

2. user_id column in sessions data contain 0.326428% NaNs, rows with will be deleted when we  will simultaneously use data from sessions and users datasets (or may be we find the way fill this values).
3. Deciding what to do with the NaNs in columns action_type and action_detail (Delete or fill by average, mode or by values that we can retrieve using simple ML models) requires additional exploring, but now we delete this rows
4. NaNs in secs_elapsed in session data we can fill by mean or mode.
5. NaNs in first_affiliate_tracked in users data make sense delete or fill by mode.
6. NaNs in date_first_booking requires additional eploring. Or delete whole column if additional exploring don't give result.
7. Same for age column.
8. It is also worth paying attention to the fact that the set of user IDs in sessions dataset and users dataset  do not match, but only intersect in some part of thes. There are users whose IDs are in session dataset  but not in users dataset, which
strange.
9. It is also worthwhile to look in more detail at the distribution of the number of unique values in each column of each dataset.
10. Add columns with timestamps converted in datetime format.

In [58]:
sessions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10567737 entries, 0 to 10567736
Data columns (total 6 columns):
user_id          object
action           object
action_type      object
action_detail    object
device_type      object
secs_elapsed     float64
dtypes: float64(1), object(5)
memory usage: 483.8+ MB

In [59]:
train_users_2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
id                         213451 non-null object
date_account_created       213451 non-null object
timestamp_first_active     213451 non-null int64
date_first_booking         88908 non-null object
gender                     213451 non-null object
age                        125461 non-null float64
signup_method              213451 non-null object
signup_flow                213451 non-null int64
language                   213451 non-null object
affiliate_channel          213451 non-null object
affiliate_provider         213451 non-null object
first_affiliate_tracked    207386 non-null object
signup_app                 213451 non-null object
first_device_type          213451 non-null object
first_browser              213451 non-null object
country_destination        213451 non-null object
dtypes: float64(1), int64(2), object(13)
memory usage: 26.1+ MB

In [60]:
train_users_2_df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [63]:
sessions_df.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [64]:
sessions_df.count()

user_id          10533241
action           10488111
action_type       9441533
action_detail     9441533
device_type      10567737
secs_elapsed     10431706
dtype: int64