In [ ]:
import os
import pathlib
import time

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
%matplotlib inline

In [ ]:
!ls ../input/

In [ ]:
def detect_nan_strings(df):
    for column in df.columns:
        print("\n\ncolumn: {}:".format(column))
        print("-" * 20)
        try:
            print("is NAN string:\n", any(df[column] == 'NAN'))
            print("is NAN string:\n", any(df[column] == 'nan'))
            print("is NAN string:\n", any(df[column] == 'NaN'))
        except TypeError:
            print("column {} not str type".format(column))

In [ ]:
def uniques_count(df):
    return {column: df[column].groupby(by=df[column]).count() for column in df.columns}

In [ ]:
age_gender_df = pd.read_csv('../input/age_gender_bkts.csv')

In [ ]:
countries_df = pd.read_csv('../input/countries.csv')

In [ ]:
sessions_df = pd.read_csv('../input/sessions.csv')

In [ ]:
train_users_2_df = pd.read_csv('../input/train_users_2.csv')

In [ ]:
test_users_df = pd.read_csv('../input/test_users.csv')

age_gender_df.info()

age_gender_df.head()

age_gender_df.describe()

countries_df.info()

countries_df

sessions_df.info()

sessions_df.head()

sessions_df.describe()

train_users_2_df.info()

train_users_2_df.head()

train_users_2_df.describe()

In [ ]:
sessions_df_not_na = sessions_df.notna()

In [ ]:
sessions_df.shape

In [ ]:
sessions_df.shape

In [ ]:
sessions_df.isna().sum()

In [ ]:
sessions_df.isna().sum() / len(sessions_df) * 100

In [ ]:
for column in sessions_df.columns:
    print("\n\ncolumn: {}:".format(column))
    print("-" * 20)
    print("value_counts:\n", sessions_df[column].value_counts())

In [ ]:
train_users_2_df.shape

In [ ]:
train_users_2_df.isna().sum()

In [ ]:
train_users_2_df.isna().sum() / len(train_users_2_df) * 100

for column in train_users_2_df.columns:
    print("\n\ncolumn: {}:".format(column))
    print("-" * 20)
    print("value_counts:\n", train_users_2_df[column].value_counts())

In [ ]:
sessions_df_unique_user_ids = set(sessions_df['user_id'].unique())

In [ ]:
train_users_2_df_unique_user_ids = set(train_users_2_df['id'].unique())

In [ ]:
len(sessions_df_unique_user_ids)

In [ ]:
len(train_users_2_df_unique_user_ids)

In [ ]:
len(sessions_df_unique_user_ids.union(train_users_2_df_unique_user_ids))

In [ ]:
len(sessions_df_unique_user_ids.difference(train_users_2_df_unique_user_ids))

In [ ]:
len(train_users_2_df_unique_user_ids.difference(sessions_df_unique_user_ids))

In [ ]:
len(train_users_2_df_unique_user_ids.intersection(sessions_df_unique_user_ids))

Preliminary results:
1. We can see that some columns in sessions data and users data have signficant numbers of NaN values.
sessions:
user_id           0.326428% (which is curious in itself)
action            0.753482%
action_type      10.657003%
action_detail    10.657003%
device_type       0.000000%
secs_elapsed      1.287229%

users:
id                          0.000000%
date_account_created        0.000000%
timestamp_first_active      0.000000%
date_first_booking         58.347349%
gender                      0.000000%
age                        41.222576%
signup_method               0.000000%
signup_flow                 0.000000%
language                    0.000000%
affiliate_channel           0.000000%
affiliate_provider          0.000000%
first_affiliate_tracked     2.841402%
signup_app                  0.000000%
first_device_type           0.000000%timestamp_first_active
first_browser               0.000000%
country_destination         0.000000%

2. user_id column in sessions data contain 0.326428% NaNs, rows with will be deleted when we  will simultaneously use data from sessions and users datasets (or may be we find the way fill this values).
3. Deciding what to do with the NaNs in columns action_type and action_detail (Delete or fill by average, mode or by values that we can retrieve using simple ML models) requires additional exploring, but now we delete this rows
4. NaNs in secs_elapsed in session data we can fill by mean or mode.
5. NaNs in first_affiliate_tracked in users data make sense delete or fill by mode.
6. NaNs in date_first_booking requires additional eploring. Or delete whole column if additional exploring don't give result.
7. Same for age column.
8. It is also worth paying attention to the fact that the set of user IDs in sessions dataset and users dataset  do not match, but only intersect in some part of thes. There are users whose IDs are in session dataset  but not in users dataset, which
strange.
9. It is also worthwhile to look in more detail at the distribution of the number of unique values in each column of each dataset.
10. Add columns with timestamps converted in datetime format.

In [ ]:
sessions_df.info()

In [ ]:
train_users_2_df.head()

In [ ]:
train_users_2_df.info()

In [ ]:
sessions_df.head()

In [ ]:
sessions_df.count()

In [ ]:
#train_users_2_df['timestamp_first_active_as_dt'] = train_users_2_df['timestamp_first_active'].astype(np.datetime64)

In [ ]:
train_users_2_df.head()

In [ ]:
sessions_uniques_count = uniques_count(sessions_df)

In [ ]:
for key, value in sessions_uniques_count.items():
    print("\n", key)
    print("-" * 20)
    print(value)